@font-face {
  font-family: 'Avenir';
  src: url('/static/fonts/avenir-next-pro-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('/static/fonts/avenir-next-pro-demi.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

html,
body,
p {
  font-family: 'Avenir', system-ui;
  font-size: 16px;
}

a,
i {
  color: inherit;
}
a:hover,
button:hover {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
}
li {
  line-height: 1.2;
}
